# ─── Django Backend ───────────────────────────────────────────────────────────
DJANGO_SECRET_KEY=django-insecure-change-this-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# ─── Telegram Bot ─────────────────────────────────────────────────────────────
# @BotFather
BOT_TOKEN=1234567890:ABCdefGHIjklMNOpqrSTUvwxYZ

# Your Telegram user ID
ADMIN_TELEGRAM_ID=123456789


TELEGRAM_PAYMENT_PROVIDER_TOKEN=1877036958:TEST:8972933b07443384c4776b794b81e4cf4deb8c52

MOCK_PAYMENTS=false

# Bot username (без @)
BOT_USERNAME=YourRentHomeBot


BACKEND_URL=http://backend:8000
#localhost
